:root {
    --theme-background: #414141;
    --theme-foreground: #ffffff;
    --theme-accent: #6407ab;
    --theme-accent-2: #c478ff;
    --theme-background-2: #272727;
    --theme-checkbox-border: #868488;
}