:root {
    --theme-background: #f5f5f5;
    --theme-foreground: #000000;
    --theme-accent: #6407ab;
    --theme-accent-2: #53078d;
    --theme-background-2: #272727;
    --theme-checkbox-border: #868488;
    --theme-error-message: #e94242;
}
